.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff2f;
  padding: 0.75rem 2rem;
  border-radius: 1.5rem 1.5rem 0 0;
}

.login {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 1.5rem 1.5rem;
  gap: 2rem;
  padding: 3rem 2rem 2rem 2rem;
  background-color: #ffffff0f;
}

.title {
  font-size: var(--fs-400);
  font-weight: 200;
  color: var(--primary);
}

.signUpLink {
  margin-top: -1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  color: var(--secondary);
}

.linkText {
  font-weight: 800;
  text-decoration: none;
  color: var(--secondary);
}

.linktext:link {
  text-decoration: none;
  font-weight: 600;
  color: var(--secondary);
}

.linktext:visited {
  text-decoration: none;
  color: var(--secondary);
}
