.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.inputContainer {
  display: flex;
  align-items: center;
  background-color: #141414;
  border-radius: 6px;
  border: 1px solid #959595;
  margin: 0;
  padding: 0.75rem;
  transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.inputContainer:focus-within {
  box-shadow: 0em 0em 0.25em #999;
  border: 1px solid #999;
}

.inputContainerError {
  display: flex;
  align-items: center;
  background-color: #141414;
  border-radius: 6px;
  border: 1px solid darkred;
  padding: 0.75rem;
  transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
}

.inputContainerError:focus-within {
  box-shadow: 0em 0em 0.25em red;
  border: 1px solid red;
}

.input {
  background: #141414;
  outline: none;
  overflow: hidden;
  border: none;
  margin-left: 0.25rem;
  flex: 1;
  font-size: var(--fs-300);
}

.icon {
  color: #4e4e4e;
}

.error {
  margin-top: -1.5rem;
  opacity: 0;
  height: 0px;
}

.errorVisible {
  opacity: 1;
  font-weight: 300;
  font-size: 0.75rem;
  color: red;
  transition: opacity 0.2s ease-in-out;
}

.errorContainer {
  margin-top: -0.25rem;
  height: 0px;
}

.buttonIcon {
  color: var(--primary);
  margin-left: 1rem;
  width: 40px;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.buttonIcon:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.1);
}
