.button {
  width: 100%;
  font-size: var(--fs-300);
  font-weight: 300;
  padding: 0.6rem;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--secondary);
  color: #090808;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: var(--primary);
  cursor: pointer;
}

button:active {
  background-color: var(--secondary);
}
