.main-container {
  background-color: #ffffff1f;
  border-radius: 1rem;
  padding: 0.75rem;
  transition: background-color 0.2s;
  transition: box-shadow 0.2s;
  overflow: hidden;
}

.main-container:hover {
  background-color: #ffffff3f;
  box-shadow: 0 0 2px var(--secondary);
  cursor: pointer;
}

.first-row {
  display: flex;
  flex-direction: row;
}

.second-row {
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: 800;
  color: var(--primary);
  margin: 0;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rating {
  align-items: flex-end;
  overflow: hidden;
  margin-left: 2rem;
}

.file-name {
  color: var(--secondary);
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.page {
  color: var(--secondary);
  align-items: flex-end;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 2rem;
}
